body{
    background-color: #999;
}

.copyright{
    background: #000000;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 3px 5px;
}
.anote {
    float: left;
}
.anote:hover .anote_del, .anote:hover .anote_edit{
    visibility: visible;
    opacity: 1;
}
.anote > div {
    padding: 0;
    height: 300px;
    margin-top: 1.2em;
    background: rgba(245,245,220,1);
    background: -moz-linear-gradient(45deg, rgba(245,245,220,1) 66%, rgba(245,245,220,1) 99%, rgba(255,223,184,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(66%, rgba(245,245,220,1)), color-stop(99%, rgba(245,245,220,1)), color-stop(100%, rgba(255,223,184,1)));
    background: -webkit-linear-gradient(45deg, rgba(245,245,220,1) 66%, rgba(245,245,220,1) 99%, rgba(255,223,184,1) 100%);
    background: -o-linear-gradient(45deg, rgba(245,245,220,1) 66%, rgba(245,245,220,1) 99%, rgba(255,223,184,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(245,245,220,1) 66%, rgba(245,245,220,1) 99%, rgba(255,223,184,1) 100%);
    background: linear-gradient(45deg, rgba(245,245,220,1) 66%, rgba(245,245,220,1) 99%, rgba(255,223,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5dc', endColorstr='#ffdfb8', GradientType=1 );
}
.anote_head > span {
    margin: 0 .3em;
}
.anote_head{
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid slategray;
    padding: .5em;
    background: rgba(255,223,184,1);
    background: -moz-linear-gradient(-45deg, rgba(255,223,184,1) 0%, rgba(255,212,161,1) 26%, rgba(255,203,143,1) 46%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,223,184,1)), color-stop(26%, rgba(255,212,161,1)), color-stop(46%, rgba(255,203,143,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,223,184,1) 0%, rgba(255,212,161,1) 26%, rgba(255,203,143,1) 46%);
    background: -o-linear-gradient(-45deg, rgba(255,223,184,1) 0%, rgba(255,212,161,1) 26%, rgba(255,203,143,1) 46%);
    background: -ms-linear-gradient(-45deg, rgba(255,223,184,1) 0%, rgba(255,212,161,1) 26%, rgba(255,203,143,1) 46%);
    background: linear-gradient(135deg, rgba(255,223,184,1) 0%, rgba(255,212,161,1) 26%, rgba(255,203,143,1) 46%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdfb8', endColorstr='#ffcb8f', GradientType=1 );
}
.anote_title{
    font-size: 28px;
    font-weight: 900;
    color:crimson;
}
.anote_type{
    float: right;
    margin: 0;
    padding-right: .5em;
}
.anote_id{
    float: left;
    padding: 0px 6px;
    color: crimson;
    border: 4px solid crimson;
    border-radius: 90px;
    font-size: 26px;
    font-weight: 900;
    line-height: 22px;
}

.anote_del, .anote_edit{
    padding: 5px;
    position: absolute;
    top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.anote_del{right: 10px}
.anote_edit{right: 85px}
.anote_content {
    font-size: 22px;
    padding: .5em;
    text-indent: 30px;
}
.anote_title, .anote_content, .anote_id, .anote_type{
    font-family: 'Caveat', 'Lato', 'Open Sans', cursive;
}
.copyright, .copyright > a{
    font-family: 'Lato', 'Open Sans', cursive;
    font-size: 14px;
    color: #FFFFFF;
    font-style: italic;
}
.copyright > a{
    font-style: normal;
}
.copyright > a:hover{
    font-style: italic;
}