<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Add iNote</h1>
<p>
    <a href="/">iNote list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/add}" th:object="${note}" method="post">
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}" />
    <label for="content">Content</label>
    <input id="content" type="text" th:field="*{content}" />
    <select th:field="*{notetype}">
        <option th:each="t : ${notetypes}" th:value="${t.id}" th:text="${t.name}"></option>
    </select>
    <input type="submit" value="add inote">
</form>
</body>
</html>