<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete iNote</title>
</head>
<body>
    <h1>Delete iNote</h1>
    <h2>Are you sure?</h2>
    <p>
        <a href="/">iNote list</a>
    </p>
    <form th:action="@{/del-note}" th:object="${note}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>iNote title:</td>
                <td th:text="${note.title}"></td>
            </tr>
            <tr>
                <td>iNote text:</td>
                <td th:text="${note.content}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Delete iNote"></td>
            </tr>
        </table>
    </form>
</body>
</html>