<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table>
<th:block th:each="note : ${inote}">
    <tr>
        <td th:text="${note.id}" th:name="id"></td>
        <td th:text="${note.title}" th:name="title"></td>
        <td th:text="${note.content}" th:name="content"></td>
        <!--<td th:text="${note.typeNote.name}"></td>-->
        <!--<td><a th:href="@{admin/edit-post/__${post.id}__ }">Edit</a></td>-->
        <!--<td><a th:href="@{admin/delete-post/__${post.id}__ }">Delete</a></td>-->
    </tr>
</th:block>
</table>
</body>
</html>