<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h1>Edit iNote</h1>
<p>
    <a href="/">iNote list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-note}" th:object="${note}" method="post">
    <input type="hidden" name="id" th:field="*{id}" />
    <label for="title">Title</label>
    <input id="title" type="text" th:field="*{title}" />
    <label for="content">Content</label>
    <input id="content" type="text" th:field="*{content}" />
    <select name="notetype">
        <option th:each="t:${notetypes}"
                th:value="${t.id}"
                th:text="${t.name}"
                th:selected="(${t.id} ==  *{notetype?.id})">
        </option>
    </select>
    <input type="submit" value="edit inote">
</form>
<footer th:replace="layout :: footer"></footer>
</body>
</html>